{% extends "base.html.jinja" %}
{% block title %}Auth{% endblock %}
{% block content %}
    <main class="container">
        <article style="text-align: center;">
            <hgroup>
                <h1>Telegram authentification</h1>
                <h6>Click the button below to start the authentification process</h6>
            </hgroup>
            <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login={{ data_telegram_login }} data-size="large" data-auth-url={{ data_auth_url }} data-request-access="write"></script>
        </article>
    </main>
{% endblock %}