{% extends "base.html.jinja" %}
{% block title %}Users{% endblock %}
{% block content %}
    <nav class="container-fluid">
        <ul>
            <li>
            </li>
        </ul>
        <ul>
            <li>
                <strong>
                    <a href="{{ url_for('index') }}">Website</a>
                </strong>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{{ url_for('logout') }}">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
    <main class="container">
        <article>
            <h1>
                Registered users
            </h1>
            <footer>
                <table role="grid">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Age
                            </th>
                            <th>
                                Sex
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>
                                {{ user.id }}
                            </td>
                            <td>
                                {{ user.name }}
                            </td>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>
                                {{ user.age }}
                            </td>
                            <td>
                                {{ user.sex }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </footer>
        </article>
    </main>
{% endblock %}