{% extends "base.html.jinja" %}
{% block title %}{{ user.username|e }}{% endblock %}
{% block content %}
    <nav class="container-fluid">
        <ul>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li>
                <strong>
                    <a href="{{ url_for('index') }}">Website</a>
                </strong>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{{ url_for('list_users') }}">
                    Users
                </a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
    <main class="container">
        <article>
            <div class="grid">
                <div>
                    <hgroup>
                        <h1>
                            Welcome, {{ user.name|e }}!
                        </h1>
                        <h6>
                            You are now logged in.
                        </h6>
                    </hgroup>
                </div>
                <div>
                    <img src="{{ photo_url }}" alt="User photo">
                </div>
            </div>
            <footer>
                <table role="grid">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Age
                            </th>
                            <th>
                                Sex
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ user.id }}
                            </td>
                            <td>
                                {{ user.name|e }}
                            </td>
                            <td>
                                {{ user.username|e }}
                            </td>
                            <td>
                                {{ user.age }}
                            </td>
                            <td>
                                {{ user.sex }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="grid">
                    <div>1</div>
                    <div>2</div>
                    <div>
                        <a href="{{ url_for('delete_user') }}" role="button" style="--background-color: rgba(217, 26, 26); --border-color: rgb(205, 29, 29);">Delete user</a>
                    </div>
                    <div>4</div>
                    <div>5</div>
                  </div>
                
            </footer>
        </article>
    </main>
{% endblock %}